body{
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.app {
  width: 500px;
  margin: 0 auto;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after{
  clear: both;
  content: '';
  display: table;
}

.status{
  margin-bottom: 10px;
}

.square {
  background: rgb(193, 225, 243);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 74px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 74px;
}

.square:focus{
  outline: none;
}

.kbd-navigation .square:focus{
  background: #ddd;
}

.game{
  display: flex;
  flex-direction: row;
}

.game-info{
  margin-left: 20px;
}